body  {
  background-color: black;
}
h1 {
  
  color: red;
  font-family: Bernina Sans;
  font-size: 50px;
  text-align: center;

}
h2 {
  color: red;
  font-family: consolas;
  font-size: 25px;
  text-align: center;
}
p {
  color: red;
  font-family: consolas;
  font-size: 25px;
  text-align: center;
}

table, th, td {
  background-color: white;
  border-align: center;
  font-family: consolas;
  border: 3px solid;
  border-collapse: collapse;
  color: red;
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  
}
th { 
  color: red;
  text-align: center;
}
td {
  color: red; 
  text-align: center;
}

