body  {
  background-color: black;
}
h1 {
  
  color: red;
  font-family: Bernina Sans;
  font-size: 50px;
  text-align: center;

}
h2 {
  color: red;
  font-family: consolas;
  font-size: 25px;
  text-align: center;
}
p {
  color: red;
  font-family: consolas;
  font-size: 25px;
  text-align: center;
}

table, th, td {
  background-color: white;
  border-align: center;
  font-family: consolas;
  border: 3px solid;
  border-collapse: collapse;
  color: red;
  width: 50%;
  height: 50px;

}
th { 
  color: red;
  text-align: center;
}
td {
  color: red; 
  text-align: center;
}
.center {
 margin-left: auto;
  margin-right: auto;
}



img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

